.badge {
    padding: 6px 11px;
    color: var(--txt-white);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.badge-danger {
    background-color: var(--main-color-red);
}

.badge-success {
    background-color: var(--main-color-green);
}

.badge-primary {
    background-color: var(--main-color-blue);
}

.badge-warning {
    background-color: var(--main-color-orange);
}

.badge-secondary {
    background-color: purple;
}

.badge-return {
    background-color: rgb(185, 75, 75);
}

.badge-refund {
    background-color: rgb(100, 100, 100);
}

.badge-CUS {
    background-color: var(--main-color-green);
}
