/* @import url("https://fonts.googleapis.com/css?family=Gamja+Flower"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.mini-card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    border-radius: 50%;
    /* transition: transform 0.3s ease; */
}

/* .navbar-brand img:hover {
  transform: scale(0.5);
} */

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-item .nav-link {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    /* transition: color 0.3s ease; */
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ff6f61;
}

.navbar-nav .nav-item.active .nav-link {
    color: #ff6f61;
    border-bottom: 2px solid #ff6f61;
}

.form-inline .form-control {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    width: 200px;
}

.form-inline button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    width: auto;
    box-sizing: border-box;
}

.form-inline button:hover {
    background-color: blue;
}

.topnav__right-user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.topnav__right-user__image img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.topnav__right-user__name {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
}

.notification-item:hover {
    background-color: #f1f1f1;
}

.notification-item i {
    margin-right: 10px;
    font-size: 16px;
}

.topnav__right-user__image img {
    border: 2px solid #ddd;
    border-radius: 50%;
    /* transition: border-color 0.3s ease; */
}

.topnav__right-user__image img:hover {
    border-color: #ff6f61;
}

.form-inline button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.dropdown-menu {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar li a {
    color: black !important;
}

.navbar li a:hover {
    color: orangered !important;
}

.carousel-inner img {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
}

.carousel-caption h1 {
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 5px 5px 15px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    text-shadow: 2px 2px 10px #000;
}

.btn:hover {
    background-color: red;
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.welcome hr {
    border-top: 2px solid rgba(62, 44, 100, 0.6);
    width: 95%;
    margin-bottom: 2rem;
}

.price {
    padding-left: 150px;
}

.card img {
    width: 50%;
    height: 50%;
}

.order-img img {
    width: 50px;
    height: 50px;
}

.fa-react {
    color: #81d8f7;
}

.fa-angular {
    color: rgb(177, 43, 55);
}

.fa-css3 {
    color: #d76537;
}

.fa-react,
.fa-angular,
.fa-css3 {
    font-size: 4em;
    margin: 1rem;
}

.fun {
    width: 100%;
}

.social a {
    font-size: 3em;
    /*1em = 16px*/
    padding: 3rem;
    /*1rem = 1 "font-size" */
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #bb0000;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
}

.nav-item a {
    font-weight: bolder;
}

.title {
    font-weight: bolder;
}

.card-img-top img {
    width: 300px;
    height: 200px;
}

#scroll {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

/* style.css */
.form-inline {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 15px;
}

.form-inline .form-control {
    box-sizing: border-box;
    margin-right: 10px;
    width: auto;
}

.form-inline button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    /* Bạn có thể thay đổi màu */
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.form-inline {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.form-inline input {
    width: auto;
    margin-right: 5px;
    /* Khoảng cách giữa input và nút tìm kiếm */
}

.form-inline button {
    display: inline-block;
    height: 100%;
    /* Chiều cao nút bằng với input */
}
